@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300&family=The+Nautigal&display=swap');
*{
    text-transform: capitalize;
}
body{
    background-color: rgb(255, 250, 244);
}
 
 

header h1{
float: left;
margin: 75px 0px 0px 175px;
    
    font-family: 'Neonderthaw';
    font-size: 105px;
    font-weight: lighter;
  
  
}
 
header h3{
     text-align: center;
    
}
p.front{
    font-size: 35px;
}
  
.right{
    float: right;
    margin: 65px 175px 0px 0px;
    text-align: center;
}

header a:link{
    color: rgb(0, 26, 172);
    text-decoration: none;
}
header a:hover{
    color: blue;
}
 
 
 

blockquote{
 margin-left: auto;
 margin-right: auto;
    width: 500px;
    font-family: 'Mochiy Pop P One';
    
    
}

main h3{
    text-align: center;
     
    clear: both;
   padding-top: 150px;
}

footer h3{
    margin-top: 50px;
    text-align: center;
}

 
 
 